# Audio processing
pydub
yt-dlp

# PDF generation
reportlab

# Utilities & Web API
numpy
fastapi
uvicorn
python-multipart
pydantic
python-dotenv

# OpenAI & Langchain & Chroma
openai
langchain
langchain-openai
langchain-mistralai
langchain-ollama
langchain-core
langchain-text-splitters
langchain-community
langchain-chroma
chromadb
